.app-navbar {
  position: relative;
  z-index: var(--z-app-navbar);
  height: var(--app-navbar-height);
  width: 100%;
  background-color: transparent;
  color: var(--col-red);
}

.app-navbar__container {
  height: 100%;
  max-width: calc(to-rem(1000) + var(--container-side-padding) * 2);
  display: flex;
  align-items: center;
  font-size: to-rem(14);

  @include respond-above(tablet) {
    justify-content: space-between;
    font-size: to-rem(18);
  }
}

.app-navbar__logo-link {
  width: 100%;
  margin-bottom: to-rem(15);

  @include respond-above(tablet) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    margin-bottom: 0;
  }
}

.app-navbar__logo {
  height: to-rem(32);
  width: to-rem(162);

  @include respond-above(tablet) {
    height: to-rem(55);
    width: to-rem(284);
  }
}

.app-navbar__login-btn-wrapper {
  text-align: right;
}

.app-navbar__login-btn {
  text-decoration: underline;
}
