%hidden-block {
  visibility: hidden;
  opacity: 0;
  transition: opacity var(--hover-transition);
}

.bonuses-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: to-rem(8);

  // @media (orientation: portrait) {
  //   margin-bottom: clamp(to-rem(22), vh(5), to-rem(40));
  // }

  @media (orientation: landscape) {
    width: auto;
    align-self: flex-start;
    grid-template-columns: 1fr;
    grid-gap: to-rem(25);
    margin-right: to-rem(20);
  }

  @include respond-above(xmedium) {
    position: absolute;
    z-index: var(--z-default);
    top: 0;
    left: var(--container-side-padding);
  }
}

.bonuses-section__bonus-wrapper {
  --border-width: #{to-rem(2)};

  position: relative;
  z-index: var(--z-default);
  display: flex;
  align-items: center;
  padding: to-rem(10);
  border-radius: to-rem(14);
  background-image: linear-gradient(
    to bottom,
    var(--col-burtuqali-orange),
    var(--col-pantone)
  );
  overflow: hidden;
  filter: drop-shadow(
    to-rem(1) to-rem(16) to-rem(38) rgba(var(--col-algal-fuel-rgb), 50%)
  );

  @media (orientation: landscape) {
    padding: to-rem(15);
  }

  &::before {
    content: '';
    position: absolute;
    top: var(--border-width);
    left: var(--border-width);
    height: calc(100% - var(--border-width) * 2);
    width: calc(100% - var(--border-width) * 2);
    border-radius: to-rem(14);
    z-index: var(--z-hidden);

    @include bg-img-webp('/img/bonus-section-bg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &--first {
    @extend %hidden-block;

    .bonuses-section--visible-first-bonus & {
      visibility: visible;
      opacity: 1;
    }
  }

  &--second {
    @extend %hidden-block;

    .bonuses-section--visible-second-bonus & {
      visibility: visible;
      opacity: 1;
    }
  }
}

.bonuses-section__bonus-img {
  width: var(--size);
  height: var(--size);
  margin-right: to-rem(10);

  @media (orientation: landscape) {
    --size: #{to-rem(90)};
  }

  @media (orientation: portrait) {
    --size: #{to-rem(60)};
  }
}

.bonuses-section__text-wrapper {
  text-transform: uppercase;

  @media (orientation: landscape) {
    font-size: to-rem(18);

    .bonuses-section__bonus-wrapper--second & {
      font-size: to-rem(14);
    }
  }

  @media (orientation: portrait) {
    font-size: to-rem(12);

    .bonuses-section__bonus-wrapper--second & {
      font-size: to-rem(10);
    }
  }
}

.bonuses-section__text--accent {
  @media (orientation: landscape) {
    font-size: to-rem(24);
  }

  @media (orientation: portrait) {
    font-size: to-rem(16);
  }
}
