.main {
  --padding: #{clamp(to-rem(22), vh(3.5), to-rem(32))};

  display: flex;
  align-items: center;
  padding-top: var(--padding);
  padding-bottom: var(--padding);

  @media (orientation: landscape) {
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @media (orientation: portrait) {
    flex-direction: column;
  }
}
