$col-red: #ff0000;
$col-red-rgb: hex-to-rgb($col-red);

$col-burtuqali-orange: #ff6800;
$col-burtuqali-orange-rgb: hex-to-rgb($col-burtuqali-orange);

$col-pantone: #ffc700;
$col-pantone-rgb: hex-to-rgb($col-pantone);

$col-irradiated-green: #b0ff4d;
$col-irradiated-green-rgb: hex-to-rgb($col-irradiated-green);

$col-pcb-green: #003305;
$col-pcb-green-rgb: hex-to-rgb($col-pcb-green);

$col-algal-fuel: #20d370;
$col-algal-fuel-rgb: hex-to-rgb($col-algal-fuel);

$col-alpine-salamander: #061610;
$col-alpine-salamander-rgb: hex-to-rgb($col-alpine-salamander);
